// Mostly when I create an admin-interface I like to use partials for the 'new' and 'edit' view to overcome duplicated code.
// Because Sinatra not support partials by default I don't use partials for this simple interface.

%h1 New campaign

- if !@campaign.errors.messages.empty?
  %div.alert.alert-error
    - @campaign.errors.messages.each do |attribute, message|
      %div= "#{attribute}: #{message.join(", ")}"

%form{:action => "/admin/campaigns", :method => :post}
  %fieldset
    %label Name
    %input{:name => "campaign[name]", :value => params[:campaign].present? ? params[:campaign][:name] : ""}

    %label Random ratio
    //random_ratio has a default value in the database
    %input{:name => "campaign[random_ratio]", :value => @campaign.random_ratio}

  %button.btn{:type => :submit} Create campaign